<script lang="ts">
	export let callback: any;

	let button: HTMLButtonElement;
	let isSubmitting = false;
	let done = false;

	async function submit() {
		isSubmitting = true;
		const res = await callback()
		if(res == null) return
		else if(res === true) {
			done = true
			// wait for animation to finish
			await new Promise<void>((resolve) => {
				button.addEventListener('animationend', () => {
					resolve()
				}, { once: true })
			})
			done = false
		}
		isSubmitting = false;
	}
</script>

<div class="submit-input-container">
	<button
			bind:this={button}
			class:submitting={isSubmitting}
			class:done={done}
			style:--height={button ? button.clientHeight + "px" : "auto"}
			on:click={submit}>
		<span>{isSubmitting ? "\ud83d\udd03" : "Submit"}</span>
	</button>
</div>

<style>
	.submit-input-container {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		width: 100%;
	}

	button {
		font-size: 1.5em;
		padding: 1em;
		max-width: 350px;
		width: 80%;
		margin: auto;
		border: 1px solid #e0e0e0;
		background-color: #f4f4f4;
		transition-property: transform, filter, background-color, width;
		transition-duration: 0.5s, 0.5s, 0.5s, 1.5s;
		transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	}

	@keyframes submitting {
		0% {
			transform: rotate(0deg);
		}
		50% {
			transform: rotate(180deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	button.submitting {
		width: var(--height);
		height: var(--height);
		filter: none;
		padding: 0;
		animation: 3s cubic-bezier(0.73, 0.15, 0, 0.86) 1.25s infinite normal forwards submitting;
	}

	button.submitting span {
		margin: auto;
		text-align: center;
	}

	@keyframes done {
		45% {
			rotate: 5deg;
		}
		50% {
			translate: 0 30%;
		}
		75% {
			rotate: -5deg;
			translate: 0 -30%;
		}
	}

	button.submitting.done {
		animation: 1.5s cubic-bezier(0.73, 0.15, 0, 0.86) 0s 1 normal forwards done;
	}
</style>