<script lang="ts">
  import SubmitModal from "$lib/modal/SubmitModal.svelte";
  import { layout, theme, modal } from "src/stores";

	function toggleLayout() {
		layout.set($layout === 'row' ? 'column' : 'row')
	}

	function toggleTheme() {
		theme.set($theme === 'dark' ? 'light' : 'dark')
		document.documentElement.className = $theme
	}
</script>

<svelte:head>
	<script>
		document.documentElement.className = localStorage.getItem('theme') || 'dark'
	</script>
</svelte:head>

{#if $modal.visible}
  <SubmitModal/>
{/if}

<div id="app-container">
  <header>
    <img alt="logo" src="/logo.svg">
    <h1>TeamTracker</h1>
    <p>Team Scouting App created by AZTECH Robotics</p>
  </header>
  <div id="style-container">
    <button title="Toggle Theme" id="theme" class="{$theme}" on:click={toggleTheme}><span>{$theme === 'dark' ? '\ud83c\udf19' : '\ud83d\udd06'}</span></button>
    <button title="Toggle Layout" id="layout" class="{$layout}" on:click={toggleLayout}><span>=</span></button>
  </div>
  <div id="page-container">
    <slot></slot>
  </div>
</div>

<style>
  
</style>