<script lang='ts'>
	import CounterInput from "$lib/inputs/CounterInput.svelte";
	import TextInput from "$lib/inputs/TextInput.svelte";
	import TimerInput from "$lib/inputs/TimerInput.svelte";
	import YesNoInput from "$lib/inputs/YesNoInput.svelte";
	import SubmitInput from "$lib/SubmitInput.svelte";
	import OptionInput from "$lib/inputs/OptionInput.svelte";
	import { Form, type SubmitData } from "$lib/Api";
	import { layout, modal, theme } from "src/stores";
	import { onMount } from "svelte";

	function hasFilledRequirements() {
		let returnVal = true
		for(const [periodKey, { sections }] of Object.entries(data.periods).reverse()) {
			for(const [sectionKey, section] of Object.entries(sections).reverse()) {
				if(!section.required) continue;
				if(section.value == null || (typeof section.value === "string" && section.value.trim().length === 0)) {
					const nameElement = document.getElementById(`${periodKey}-${sectionKey}-name`)
					const sectionElement = document.getElementById(`${periodKey}-${sectionKey}`)
					if(nameElement && sectionElement) {
						nameElement.scrollIntoView({
							behavior: 'smooth'
						})
						sectionElement.classList.add("required")
					}
					returnVal = false
				}
			}
		}
		return returnVal
	}

	function reset() {
		for(const { sections } of Object.values(data.periods)) {
			for(const section of Object.values(sections)) {
				if(section.persistant !== true && section.value !== undefined) {
					delete section.value
				}
			}
		}
	}

	function showModal(success: boolean) {
		if(success) modal.setBody({ content: "Successfully Submitted", icon: "/logo.svg" })
		else modal.setBody({ content: "Error Submitting", icon: "/logo.svg" })
		modal.setVisible(true)
	}

	let hasSubmitted = false
	async function submit(): Promise<boolean|void> {
		if(hasSubmitted) return
		hasSubmitted = true
		if(!hasFilledRequirements()) return hasSubmitted = false

		let res = await Form.submit(data)
		if(!res || !res.data.success) {
			console.error(res?.data)
			showModal(false)
			return hasSubmitted = false
		}
		console.log(res.data)
		showModal(true)
		reset()
		data = data
		hasSubmitted = false
		return true
	}

	let data: SubmitData

	onMount(async () => {
		data = await Form.getFormData()

		document.addEventListener('focusin', (e) => { // Remove red border on required items after focusing on them
			if(e.target instanceof HTMLElement)
				e.target.closest('.input-container.required')?.classList.remove('required')
		})
	})
</script>

<svelte:head>
	<link rel="stylesheet" href="/form.css">
</svelte:head>

<div id="form-container" class="{$theme}">
	{#if data && data.periods}
		<ul class="{$layout}">
			{#each Object.entries(data.periods) as [period, periodData]}
				<li id="{period}-container" class="period-container">
					{#if periodData.name != null}
						<h2 class="period-name">{periodData.name}</h2>
					{/if}
					{#each Object.entries(periodData.sections) as [section, sectionData]}
						{#if sectionData.name != null}
							<h2 id="{period}-{section}-name" class="section-name">{sectionData.name}
								{#if sectionData.required}
									<span>*</span>
								{/if}
							</h2>
						{/if}
						<div id="{period}-{section}" class="input-container">
							{#if sectionData.type == "counter"}
								<CounterInput data={sectionData}/>
							{:else if sectionData.type == "text"}
								<TextInput data={sectionData}/>
							{:else if sectionData.type == "timer"}
								<TimerInput data={sectionData} hasSubmitted={hasSubmitted}/>
							{:else if sectionData.type == "click"}
								<YesNoInput data={sectionData}/>
							{:else if sectionData.type == "option"}
								<OptionInput idBase={`${period}-${section}`} data={sectionData}/>
							{/if}
						</div>
					{/each}
				</li>
			{/each}
		</ul>
		<div id="submit-container">
			<SubmitInput callback={submit}/>
		</div>
	{:else}
		<img id="loading" alt="Loading..." src="/logo.svg">
	{/if}
</div>