<script lang="ts">
	import type { CounterInputData } from "$lib/Api";

	export let value: number = 0;
	export let data: CounterInputData;
	export let callback = () => {};

	$: value = data.value || data.default_value || 0;

	let changed = false;

	function changeValue(add: number) {
		if(data.min_value != null && value + add < data.min_value) return;
		else if(data.max_value != null && value + add > data.max_value) return;

		// oh no
		changed = true
		setTimeout(() => changed = false, 250)

		data.value = value + add;
		callback();
	}
</script>

<div class="counter-input-container">
	<div class="counter-input-body">
		<button class="subtract red" on:click="{() => changeValue(-1)}">-</button>
		<div class="center">
			<span class="value" class:changed={changed}>{value}</span>
		</div>
		<button class="add green" on:click="{() => changeValue(1)}">+</button>
	</div>
	<div class="counter-input-footer">
		<button class="reset" on:click="{() => changeValue(-value)}">Reset</button>
	</div>
</div>

<style>
	.counter-input-container {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	.counter-input-body {
		display: flex;
	}

	.counter-input-footer {
		display: flex;
	}

	.center,
	.value {
		margin: auto;
	}

	.value {
		font-size: 4em;
		transition: transform 0.25s, opacity 0.25s;
	}

	.changed {
		transform: translateY(0.5em);
		opacity: 0;
	}

	.center {
		display: flex;
		flex-direction: column;
	}

	.subtract,
	.add {
		width: min(20vw, 72px);
		height: min(20vw, 72px);
	}

	.reset {
		padding: 0.25em;
		margin: auto;
		font-size: 1.5em;
		padding: 0.5em;
	}
</style>