<script lang="ts">
	import { theme } from "src/stores";
	import type { OptionInputData } from "$lib/Api";

	export let value: number | Array<number> | null = null;
  export let idBase: string;
	export let data: OptionInputData;

	$: value = data.value || data.default_value || null;

	let inputs: HTMLInputElement[] = [];

  function changeValue(event: Event, index: number) {
    if(data.display === "radio") {
      data.value = index
    }
    else if(data.display === "checkbox") {
      const checked = Array<number>()
      for(let i = 0; i < inputs.length; i++)
        if(inputs[i].checked)
          checked.push(i)
      if(data.max_value != null && checked.length > data.max_value) {
        inputs[index].checked = false
        event.preventDefault()
        return
      }
      data.value = checked.length > 0 ? checked : null
    }
  }

  export function reset() {
    for(const el of inputs) {
      if(el.checked) el.checked = false
    }
    delete data.value
  }

	let themeValue: string | null = "light"
	theme.subscribe((value) => themeValue = value)
</script>

<div class="option-input-container">
  <ul>
    {#each data.options as option, index}
      <li>
        <input bind:this={inputs[index]}
          class={themeValue}
          type={data.display}
          id={`option-${idBase}-${index}`}
          name={data.name}
          value={option}
          on:change={(e) => changeValue(e,index)}>
        <label for={`option-${idBase}-${index}`}>{option}</label>
      </li>
    {/each}
  </ul>
  <button on:click={() => reset()}>Reset</button>
</div>

<style>
	.option-input-container {
    flex-grow: 1;
	}

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
  }

  li {
    display: flex;
  }

	input {
    appearance: none;
    width: 1.75em;
    height: 1.75em;
		margin-left: 0;
    margin: auto 8px auto 0;
    transition: border-width 0.1s linear, background-color 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    border: 2px solid #c0c0c0;
    background-color: #dadada;
	}

  input.dark {
		background-color: #3a3a3a;
    border: 2px solid #c0c0c0;
		color: #fff;
	}

  input:checked {
    border: 4px solid #fdc300;
  }

  input[type="radio"] {
    border-radius: 50%;
  }

  input[type="checkbox"] {
    border-radius: 10%;
  }

  label {
    display: flex;
    align-items: center;
    font-size: 1.25em;
  }

  button {
    padding: 0.25em;
    font-size: 1.25em;
    position: absolute;
    bottom: 0;
    right: 0;
  }
</style>