<script lang="ts">
	import { theme } from "src/stores";
	import type { TextInputData } from "$lib/Api";

	export let value = "";
	export let data: TextInputData;
	export let callback = () => {};

	$: value = data.value || data.default_value || "";

	let input: HTMLInputElement;

	$: if(input !== undefined) input.value = value || "";

	function changeValue(newValue: string) {
		value = newValue;
		data.value = value;
		callback();
	}

	let themeValue: string | null = "light"
	theme.subscribe((value) => themeValue = value)
</script>

<div class="text-input-container">
	<input bind:this={input} class={themeValue} type="text" minlength={data.min_value} maxlength={data.max_value} on:change="{() => changeValue(input.value)}">
</div>

<style>
	.text-input-container {
		display:flex;
		flex-direction: row;
		flex-grow: 1;
	}
	input {
		margin: auto;
		font-size: 1.5em;
		width: 100%;
		border-radius: 5px;
		border-width:0px;
		border:none;
		box-shadow: none;
		padding: 0.25em;
		transition: background-color, color, filter, border;
		transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
		transition-duration: 1.5s;
	}
	
	input.dark {
		background-color: #3a3a3a;
		color: #fff;
	}
</style>