<script lang="ts">
	export let value: number = 0;
	export let data: any;
	export let hasSubmitted: boolean;
	export let callback = () => {};

	let startTime: number;
	let stoppedTime: number = 0;
	let intervalId: NodeJS.Timer | null;
	let buttonLabel = "Start";

	$: {
		if(hasSubmitted && intervalId) {
			buttonLabel = "Start";
			clearInterval(intervalId);
			intervalId = null;
		}
	}

	$: value = data.value || data.default_value || 0;

	function toggle() {
		if(intervalId) { // currently running
			buttonLabel = "Start";
			clearInterval(intervalId);
			intervalId = null;
			stoppedTime = value;
			data.value = value;
			callback();	
		} else { // not currently running
			buttonLabel = "Stop";
			startTime = Date.now();
			intervalId = setInterval(() => {
				data.value = Date.now() - startTime + stoppedTime;
			}, 4)
		} 
	}

	function reset() {
		if(intervalId)  {
			clearInterval(intervalId);
			intervalId = null;
		}
		buttonLabel = "Start";
		value = 0;
		stoppedTime = 0;
	}

	function formatTime(time: number) {
		let minutes: number = Math.floor(time / 1000 / 60);
		let seconds: number = Math.floor((time - minutes * 1000 * 60) / 1000);
		let ms: number = (time - minutes * 1000 * 60 - seconds * 1000);
		return minutes.toString().padStart(2, "0") + ":" + seconds.toString().padStart(2, "0") + ":" + ms.toString().padStart(3, "0");
	}
</script>

<div class="timer-input-container" on:submit={(e) => console.log('test')}>
	<div class="timer-input-body">
		<span class="value">{formatTime(value)}</span>
	</div>
	<div class="timer-input-footer">
		<button class="toggle" on:click={toggle}>{buttonLabel}</button>
		<button class="reset" on:click={reset}>Reset</button>
	</div>
</div>

<style>
	.timer-input-container {
		width: 100%;
	}

	.timer-input-body {
		display: flex;
		width: 100%;
	}

	.timer-input-footer {
		display: flex;
	}

	.value {
		font-size: min(14vw, 3.25em);
		/* margin: auto; */
		width: 100%;
		text-align: center;
	}

	button {
		font-size: min(10vw, 1.5em);
		padding: 0.5em;
		margin-left: 1vw;
		margin-right: 1vw;
		width: 100%;
	}
</style>