<script lang="ts">
	import type { YesNoInputData } from "$lib/Api";

	export let value: boolean = false;
	export let data: YesNoInputData;
	export let callback = () => {};

	$: value = data.value == 'Yes' ? true : false

	function toggle() {
		value = !value;
		data.value = value?'Yes':'No';
		callback();
	}
</script>

<div class ="yesno-input-container">
	<div class="yesno-input-body">
		<button class="{value? 'green': 'red'}" on:click={toggle}>{value? 'Yes': 'No'}</button>
	</div>
</div>

<style>
	.yesno-input-container {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	.yesno-input-body {
		display: flex;
	}

	button {
		margin: auto;
		transition-property: background-color, transform, filter;
		transition-duration: 0.2s, 0.5s, 0.5s;
	}

	.red,
	.green {
		width: 72px;
		height: 72px;
	}
</style>