#form-container,
.period-container,
.input-container {
  transition: background-color 1.5s, color 1.5s, filter 1.5s, border-color 1.5s, width 0.5s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

#form-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 0.5em;
  padding-bottom: calc(1em + 40px);
}

@keyframes loading {
  0% {
    transform: rotate3d(0, 1, 0, -180deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
}

#loading {
  width: 10em;
  margin: auto;
  animation: 1s cubic-bezier(0.23, 1, 0.320, 1) 0s infinite alternate both loading;
}

#form-container > ul {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 80vw;
  text-align: center;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.25em;
  padding-right: 0.25em;
  box-sizing: border-box;
}

.period-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  background-color: #f0f0f0;
  padding: 1.5em;
  margin-bottom: 2em;
  box-sizing: border-box;
  position: relative;
}

.period-name {
  font-size: 2em;
  margin: 0 auto 0 auto;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #c0c0c0;
  width: 90%;
}

.section-name {
  margin-bottom: 0.1em;
}

.section-name>span {
  position: absolute;
  color: #ff0000;
}

.input-container {
  display: flex;
  flex-direction: row;
  background-color: #eaeaea;
  padding: 1.5em;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  filter: drop-shadow(1px 1px 2px #c0c0c0);
  overflow-x: auto;
}

.required {
  border: 2px solid #ff0000a0 !important;
  padding: calc(1.5em - 1px);
}

#submit-container {
  width: 100vw;
}


/* Layouts */
@keyframes layout-row-to-column {
  30% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@keyframes layout-column-to-row {
  30%{
    transform: translate(-150%);
  }
  100% {
    transform: translate(0);
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
  }
}
#form-container > ul.row {
  animation: 1s cubic-bezier(0.73, 0.15, 0, 0.86) 0s 1 normal forwards layout-column-to-row;
  justify-content: space-evenly;
}

#form-container > ul.row .period-container {
  min-width: 350px;
  width: 20vw;
}

#form-container > ul.column {
  animation: 1s cubic-bezier(0.73, 0.15, 0, 0.86) 0s 1 normal forwards layout-row-to-column;
}

#form-container > ul.column .period-container {
  margin-left: auto;
  margin-right: auto;
}


/* Dark Theme */
#form-container.dark {
  color: #fff;
}

#form-container.dark .period-container {
  background-color: #3f3f3f;
  border-color: #4a4a4a;
}

#form-container.dark .input-container {
  background-color: #4a4a4a;
  border: 1px solid #3a3a3a;
  filter: drop-shadow(1px 1px 2px #2a2a2a);
}


/* Mobile Changes */
@media screen and (max-width: 710px) {
  #form-container ul {
    flex-wrap: nowrap;
  }

  #form-container > ul.row {
    animation: 1s cubic-bezier(0.73, 0.15, 0, 0.86) 0s 1 normal backwards layout-column-to-row;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    max-width: 500px;
  }

  #form-container > ul.row .period-container {
    min-width: 0;
    width: 100%;
  }

  #form-container > ul.column {
    width: 100%;
  }

  .period-container,
  .input-container {
    padding: min(8vw, 1.5em);
  }

  #layout {
    display: none;
  }
}