* {
  touch-action: manipulation;
  perspective: 1000;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

html {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-grow: 1;
  transition: background-color 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

html.dark {
  background-color: #2a2b2e;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

#app-container::-webkit-scrollbar {
  display: none;
}

#app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

header {
  padding: 16px 0 16px 0;
  color: #FFF;
  background-color: #222;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto 4px auto;
  width: 100vw;
  filter: drop-shadow(0px 4px 0px #1b1b1b);
  z-index: 2;
}

header img {
  width: 128px;
  margin: 0 auto 0 auto;
}

header h1 {
  font-size: 2.5em;
}

#style-container {
  z-index: 1;
  align-self: flex-end;
  margin: 8px;
}

#style-container button {
  width: 40px;
  height: 40px;
}

#theme span {
  font-size: 24px;
  margin: auto;
}

#layout {
  transition: transform, filter;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.6,-0.13, 0.25, 1.72);
}

#layout.column {
  transform: rotate(90deg);
  filter: drop-shadow(4px 0px 0px #c0c0c0);
}

@media (hover: hover) {
  #layout.column:hover {
    filter: drop-shadow(2px 0px 0px #c0c0c0) brightness(90%);
    transform: rotate(90deg) translateX(2px);
  }
}

#layout.column:active {
  filter: drop-shadow(0px 0px 0px #c0c0c0) brightness(90%);
  transform: rotate(90deg) translateX(4px);
}

#page-container {
  width: 100vw;
  display: flex;
  flex-grow: 1;
}

main {
  display: flex;
  flex-grow: 1;
  margin: 0;
}