<script lang="ts">
  import { modal, theme } from "src/stores";
  import { onMount } from "svelte";

  let modalContainer: HTMLDivElement

  let disableClose = true
  setTimeout(() => disableClose = false, 1000)

  let closed = false
  function closeModal() {
    if(disableClose) return
    closed = true
    document.querySelector('.modal-dialog')?.addEventListener('animationend', () => {
      modal.set({ visible: false})
    })
  }

  function reset() {
    
  }

  function handleKeyDown(e: KeyboardEvent) {
    if(e.key === 'Escape') return closeModal()
    if(e.key === 'Tab') {
      const elements = modalContainer.querySelectorAll('*');
			const tabbables = Array.from(elements).filter(n => n instanceof HTMLElement && n.tabIndex >= 0).map(el => el as HTMLElement);

			let index = document.activeElement ? tabbables.indexOf(document.activeElement as HTMLElement) : -1;
			if (index === -1 && e.shiftKey) index = 0;
      index += e.shiftKey ? -1 : 1
      index %= tabbables.length

      const element = tabbables.at(index)
			if(element instanceof HTMLElement) {
        element.focus();
      }
			e.preventDefault();
    }
  }

  onMount(async () => {
    document.body.style.top = `${window.scrollY}px`
  })
</script>

<svelte:window on:keydown={handleKeyDown} />

<div bind:this={modalContainer} class:closed={closed} class="modal-container">
  <div class="modal-background" on:mouseup={closeModal}></div>
  <div class="modal-dialog {$theme}">
    <div class="modal-dialog-body">
      {#if $modal.body}
        {#if $modal.body.icon}
          <img alt="Icon" class="icon" src={$modal.body.icon}>
        {/if}
        <h1 class="content">{$modal.body.content}</h1>
      {/if}
    </div>
    <div class="modal-dialog-footer">
      <button on:click={reset}>Reset</button>
      <button on:click={closeModal}>Close</button>
    </div>
  </div>
</div>

<style>
.modal-container {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

@keyframes background-fade-in {
  0% {
    opacity: 0;
    backdrop-filter: blur(0);
  }
  100% {
    opacity: 1;
    backdrop-filter: blur(2px);
  }
}

@keyframes background-fade-out {
  0% {
    opacity: 1;
    backdrop-filter: blur(2px);
  }
  100% {
    opacity: 0;
    backdrop-filter: blur(0);
  }
}

.modal-background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #30303094;
  animation: background-fade-in .5s linear 0s 1 forwards normal;
}

.closed .modal-background {
  animation: background-fade-out .5s linear 0s 1 forwards normal;
}

@keyframes dialog-slide-in {
  0% {
    transform: translateY(400%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes dialog-slide-out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(400%);
  }
}

.modal-dialog {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 66%;
  max-width: 600px;
  max-height: 400px;
  padding: 1em;
  box-sizing: border-box;
  background-color: white;
  border-radius: 16px;
  margin: auto;
  filter: drop-shadow(2px 2px 0px #ffffffaa);
  animation: dialog-slide-in .5s ease-out 0s 1 forwards normal;
  text-align: center;
  overflow: auto;
  justify-content: center;
}

.modal-dialog-body {
  display: flex;
  flex-direction: column;
}

.modal-dialog-footer {
  display: flex;
  justify-content: space-evenly;
}

.modal-dialog-footer button {
  min-width: 30%;
  padding: 0.2em
}

.closed .modal-dialog {
  animation: dialog-slide-out .5s ease-in 0s 1 forwards normal;
}

.modal-dialog.dark {
  color: white;
  background-color: #4a4b4e;
  filter: drop-shadow(2px 2px 0px #2a2a2abb);
}

.modal-dialog .icon {
  width: 30%;
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 710px) {
  .modal-dialog .icon {
    width: 50%;
  }
}

</style>